<!-- Static navbar -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">Catshop</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a routerLink="/tasks" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/create" routerLinkActive="active">Create task</a></li>
      </ul>
      <ul *ngIf="apiService.isLoggedIn()==false" class="nav navbar-nav navbar-right">
        <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
        <li><a routerLink="/register" routerLinkActive="active">Register</a></li>
      </ul>
      <ul *ngIf="apiService.isLoggedIn()" class="nav navbar-nav navbar-right">
        <li class="active"><a (click)="apiService.logOut()" routerLink="/login" routerLinkActive="active">Logout</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div><!--/.container-fluid -->
</nav>
<div class="jumbotron">
<router-outlet></router-outlet>
</div>